*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
}
.bg_black{
    background-color: black;
    color: #717171;
}
.bg_grey{
    background-color: #282828;
    color: white;
}
.bg_darkgrey{
    background-color: #080B12;
    color: white;
}
.main-spotify{
    background: rgb(19, 22, 27);
    background: linear-gradient(0deg, rgba(17,22,29,1) 22%, rgb(30, 36, 46) 100%);
    color: white;
}

.flex_grow{
    flex-grow: 1;
}

body{
    display: flex;
    flex-direction: column-reverse;
    line-height: 1.6;
}
nav{
    height: 80px;
}

main{
    height: calc(100vh - 80px);
    display: flex;
}
aside{
    float: left;
    height: inherit;
    min-width: 200px;
    overflow: hidden;
}


    /* ASIDEBAR */
.logobox{
    position: relative;
    height: 70px;
    margin-bottom: 18px;
    padding: 24px 24px 0 24px;
}
.logo{
    width: 100%;
    max-width: 131px;
    height: 40px;
}
aside .box{
    padding: 0 12px;
    height: calc(100% - 86px);
    display: flex;
    flex-direction: column;
}
aside .padding{
    padding: 0 12px;
    padding-bottom: 10px;
}
.home_panel img{
    height: 24px;
    vertical-align: middle;
    padding: 0 12px;
}
ul{
    list-style: none;
    padding: 0;
}
aside li{
    padding: 5px 0;
    color: white;
    opacity: 0.5;
}
h6{
    color: white;
    text-transform: uppercase;
}
.crea_playlist{
    display: flex;
    align-items: center;
    color: white;
    opacity: 0.5;

}
.ul_playlist{
    flex-grow: 1;
    padding: 0 12px;
}
.playlist-icon{
    background-color: white;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.plus i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 20px;
}
.profilo_end{
    padding: 0 12px;
}
.profile_box{
    display: flex;
    align-items: center;
}
.imgbox{
    position: relative;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    margin:0 10px 10px 0;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
}
.imgbox img{
    max-width:100%;
    max-height:100%;
    border-radius: 50%;
}
aside hr{
    border-color: #717171;
    margin: 15px 0;
}
.installapp_box i{
    margin-right: 10px;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 3;
}
.box_playing{
    width: 30%;
    min-width: 180px;
    display: flex;
    justify-content: flex-start;
}
.box_playing .box_img{
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.box_playing .box_img img{
    width: 100%;
    height: 100%;
}
.box_titolobrano{
    margin: 0 14px;
    align-self: center;
    max-width: 80px;
}
.artistabrano{
    color: #717171;
}
.artistabrano:hover{
    text-decoration: underline;
}
.box_playing .boxbtn{
    align-self: center;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    font-size: 13px;
    color: #717171;
}
.box_playing .boxbtn:hover{
    cursor: pointer;
    color: white;
}
.boxbtn{
    align-self: center;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.playbar{
    flex-grow: 1;
    width: 40%;
}
.playbar .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.playoptions{
    display: flex;
    margin-bottom: 10px;
}
.mainbtn{
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.mainbtn{
    border: 1;
}
.progbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* align-content:baseline; ???*/
}
.section_bgbar{
    flex-grow: 1;
    width: 100%;
    position: relative;
    height:10px;
    align-content:baseline;
    margin: 0 10px;
    background-color: transparent;
}
.bgbar{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    overflow: visible;
    background-color: #535353;
    color: #b3b3b3;
    border-radius: 5px;
}
.playedbar:hover{
    color: #ADFF2F;
    cursor: pointer;
}
.playedbar{
    background-color: #b3b3b3;
    border-radius: 5px;
    width: 20%;
}
.section_bgbar:hover .playedbar{
    background-color: #ADFF2F;
    cursor: pointer;
}
.btn_progbar{
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    z-index: 100;
}
.section_bgbar:hover .btn_progbar{
    display: block;
}
.time{
    font-size: 11px;
}

.left_options{
    display: flex;
    width: 25%;
    justify-content: flex-end;
}
.left_options .boxbtn{
    align-self: center;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    font-size: 12px;
}
.left_options .section_bgbar{
    width: 100%;
    max-width: 70px;
}

/* MAIN WINDOW*/
/* .navv{
} */
section{
    width: calc(100vw - 200px);
    overflow: hidden;
}
.btn_upgrade{
    border: solid 2px white;
    border-radius: 40px;
    padding: 10px 30px;
}
.navv{
    position: fixed;
    width: calc(100vw - 200px);
    opacity: 0.7;
    z-index: 2;
}
.navv .box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 80px;
    padding-right: 30px;
}
.container{
    width: 100%;
}
.main-spotify{
    padding-top: 80px;;
    height: calc(100%);
    color: #b3b3b3;
    overflow: auto;
}
.navbarr .box{
    padding: 15px 25px 10px 25px;
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    max-width: 500px;
    margin: auto;
    flex-wrap: wrap;
}
.navbarr .box button{
    padding-bottom: 3px;
}
.h_brano{
    color: white;
    padding: 20px 0;
    font-size: 20px;
}
.section_brano .box{
    padding:0 15px;

}
.section_brano .box2{
    display: flex;
    flex-wrap: wrap;
}
.brano{
    width: 155px;
    height: 200px;
    flex-shrink: 0;
    padding: 0 6.5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.boxbrano{
    position: relative;
}
.box3{
    flex-grow: 1;
    text-align: center;
    margin-top: 10px;
}
.title{
    color: white;
    font-size: 14px;
    margin-bottom: 6px;
}
.subtitle{
    color: #717171;
}

/* HOVERS */
.hover_overlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    display: none;
}
.hover_overlay i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: white;
    padding: 2px;
    z-index: 1;
}
.brano:hover .box3{
    opacity: 0.7;
}
.brano:hover .hover_overlay{
    display: block;
}

.hoverscale:hover{
    transform: scale(1.06);
    opacity: 1;
    filter: brightness(1.5);
}
.hoverscale2:hover{
    transform: scale(1.2);
    opacity: 1;
}
.pauseplay:active{
    display:none;
}
.hoveractive_evidenza{
    border-bottom: solid 2px #ADFF2F;
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 0;
}
.hoveractivehome{
    color: white;
    opacity: 1;
    border-left: solid 2px #ADFF2F;
}





/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@media all and (max-width: 750px){
    section{
        width: calc(100vw - 40px);
        overflow: hidden;
    }
    .navv{
        width: calc(100vw - 40px);
    }
        /* ASIDEBAR */
.logobox{
    position: relative;
    height: 40px;
    width: 40px;
    margin-bottom: 0;
    padding: 5px;
}
.logo{
    display:none
}
.logosmall{
    display: block;
}
.logosmall{
    width: 100%;
    max-width: 30px;
    height: 30px;
}
.hoveractivehome{
    border-left: none;
    align-self: flex-end;
}
aside{
    min-width: 0;
    width: 40px;
}
aside *{
    text-align: center;
}
aside .box{
    padding: 0;
    height: calc(100vh - 86px);
}
aside .padding{
    display:none;
}
.home_panel img{
    height: 24px;
    vertical-align: middle;
    padding: 0;
}
aside span{
    display: none;
}
.ul_playlist{
    display:none;
}
.profilo_end{
    padding: 0;
    align-self: flex-end;
    justify-self: flex-end;
}
aside hr{
    border:none;
    margin: 10px 0;
}
}
